<!-- Interpolação -->

<div class="mb-6">
  <p class="font-bold text-2xl ">template-binding - Interpolação de texto!</p>

  <p>{{name}} - {{age}} - {{Sun(10, 4)}}</p>

  <p>{{2 + age}} - {{age > 10 ? "Teste" : "Teste 2"}}</p>
</div>

<!-- Porpety biding -->

<div class="mb-6">
  <h1>Porpety Binding</h1>

  <span>Property Binding é a ligação de uma propriedade do DOM ou de um componente filho a uma variável do componente,
    permitindo que o valor do componente seja exibido ou usado na view.</span><br>

  <button class="bg-gray-400 rounded-sm p-1 disabled:cursor-not-allowed" [disabled]="isDisabled">Button</button>

  <img [src]="srcValue" [alt]="name" [title]="name">

</div>

<!-- Atrtribute biding -->

<div class="mb-6">
  <h1 class="text-2xl font-bold">Atrtribute biding</h1>
  <p [attr.title]="name" [attr.aria-label]="name">Anderton Santos</p>

</div>


<!-- biding event -->

<div class="p-6 w-full h-full mb-6 flex gap-4">

  <button class="bg-gray-400 px-2 rounded-2xl" (click)="Soma()">+</button>
  <div [class.background-red]="age > 32" [class.background-blue]="age < 32">
    <p class="text-gray-300 font-black p-2"> {{ age }}</p>
  </div>
  <button class="bg-gray-400 px-2 rounded-2xl" (click)="Sub()">-</button>

</div>

<input class="border border-black" (keydown.shift.t)="onKeyDown($event)">

<div class="mt-8 w-[200px] h-[200px] bg-red-400" (mousemove)="onMouseMove($event)">

</div>

<!-- Two-Away biding -->

<div class="mt-8 border-b p-4">
  <h3>Two-way biding</h3>
  <input class=" border border-black w-[30%]" [(ngModel)]="name">
  {{name}}
</div>



<div class="mt-8 border-b p-4">
  <h1>Diretivas de atributos</h1>
  <div [ngClass]="{'background-red': isDisabled }">Classes condicionais</div>

  <div>estilo dinâmico</div>

</div>